{% extends "layout.html" %} 

{%block bodygood %}
        <li><a href="/activities/add/c">Masa Oyunu Oluştur<span class="sub_icon glyphicon glyphicon-link"></a></li>
        <li><a href="/activities/add/n">Farklı Aktivite Oluştur<span class="sub_icon glyphicon glyphicon-link"></a></li> 
          <li><a href="/account/c/{{request.user.username}}/friends/">Arkadaşlar<span class="sub_icon glyphicon glyphicon-link"></a></li>
{%endblock bodygood %}


{% block body1 %} 




<main class="page-main">



  <div data-uk-filter="target: .js-filter">


      <ul class="js-filter uk-grid-small uk-child-width-1-1 uk-child-width-5-5@xl uk-child-width-2-4@l uk-child-width-3-3@m uk-child-width-1-2@s uk-grid uk-grid-stack" data-uk-grid="" style="">
          
        

        {% for value in all_games_pq %} 


        {% if value.if_its_anywhere|safe == request.user.place_name|safe %}
        {% if timenow|date:"U" < value.m_time|date:"U"  %}











  <li data-type="placer" class="uk-grid-margin uk-first-column">
    
    <div class="uk-child-width-5-5@l uk-width-5-5@l ">
        
        <div class="js-trending">
            <div class="swiper">
                <div class="swiper-wrapper">


                    <div class="swiper-slide">
                        <div class="game-card --horizontal">
                            <div class="game-card__box"  style="background-color: rgb(255, 255, 255)">
                              {% if value.contact %}

                              <div class="game-card__media child-width-5-5@l"><a href="/activities/p/q/{{value.id}}"><img src="/static/assets/img/communities3.png" style="width: 80%;height:80%; margin-top:-15px;" alt="Alien Games" /></a></div>


                              {% else %}


                              <div class="game-card__media child-width-5-5@l"><a href="/activities/p/q/{{value.id}}"><img src="/static/assets/img/place2.png" style="width: 100%;height:100%; margin-top:-15px;" alt="Alien Games" /></a></div>

                              {% endif %}

                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html">{{value}}</a>
                                    
                                    

                                        <div class="game-card__price"><span> {{value.creator}}</span><span class="game-card__genre"> tarafından, </span></div>

                                  




                                    
                                    <div class="game-card__price"><span> {{value.if_its_anywhere}}</span> <span class="game-card__genre"> konumunda,</span></div>
                                    <div class="game-card__price"><span> {{value.m_time}}</span> <span class="game-card__genre"> tarihinde,</span></div>
                                    <div class="game-card__price"><span> {{value.game_type}}</span> <span class="game-card__genre"> aktivitesi düzenleniyor.</span></div>
                                    



                                    <div class="game-card__bottom">
                                      <div class="game-card__price"> <span>  Giriş Fiyatı : {{value.entry_price}} TL</span></div>
                                      <div class="game-card__users">
                                          <ul class="users-list">
                                              
                                              {% for people in value.ppl_existence.all %}
                                              {% if people.pic1 %}
                                              <li><img src="{{people.pic1.url}}" alt="user"></li>
                                              {% else %}
                                              <li><img src="/static/assets/img/user-1.png" alt="user"></li>
                                              {% endif %}
                                              {% endfor %}
                                             - {{value.ppl_existence.count}} / {{value.max_ppl_existence}}
                                             
                                          </ul>
                                         
                                      </div>
                                  </div>

                                  <div class="game-card__bottom ">
                                    <button class="creat-list-btn" href="/activities/p/q/{{value.id}}"><i class="ico_add-square"></i><a href="/activities/p/q/{{value.id}}">Devamını Oku</a></button>
                                  </div>
                                  
                                   
                                </div>


                            </div>


                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="game-card --horizontal">
                            <div class="game-card__box"  style="background-color: rgb(255, 255, 255)">
                              

                              <div class="game-card__media child-width-5-5@l"><a href="/activities/p/q/{{value.id}}"><img src="/static/assets/img/idkman.png" style="width: 80%;height:80%; margin-top:-15px;" alt="Alien Games" /></a></div>




                                <div class="game-card__info">
                                    






                                  <div class="game-card__price"><a href="#">
                                    <div  class="uk-heading-line uk-text-center" ><span>Karar Butonları</span></div>
  
                                  </a> </div>


                             
                                  <div class="game-card__bottom ">
                                    <button class="creat-list-btn" onclick="location.href='/activities/p/q/{{value.id}}/y'><i class="ico_add-square"></i><a href='/activities/p/q/{{value.id}}/y'>Lobiyi Onayla</a></button>
                                  </div>

                                  <div class="game-card__bottom ">
                                    <button class="creat-list-btn"onclick="location.href='/activities/p/q/{{value.id}}/n'><i class="ico_add-square"></i><a href='/activities/p/q/{{value.id}}/n'>Lobiyi Reddet</a></button>
                                  </div>



                                  
                                </div>
                            </div>
                        </div>
                    </div>



      

                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

  </li>


            {% endif %}
            {% endif %}
            
            {% endfor %}  



      </ul>
  </div>
</main>







{% endblock body1 %}




{% if request.user.user_type == 3 %}



<section class="h-200 h-300" >


    <div class="container py-5 h-100 pt-5 mt-5 mb-5 pb-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 ">Aktiviteler</h3>
  

                

                <div class="form-outline mb-4 " style="text-align-center">
                    <p>Burada, istediğiniz aktiviteye giriş yapabilirsiniz.</p>
                </div>

                <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-5"></div>
</section>
  
  
<section class="h-200 h-300" >
    <div class="container ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <div class="card-body p-4 p-md-5">
              <h3 class="  pb-md-0  ">Etkinlik İstekleri</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>



{% for value in all_games_pq %} 


{% if value.if_its_anywhere|safe == request.user.place_name|safe %}
{% if timenow|date:"U" < value.m_time|date:"U"  %}

<section class="h-200 h-300" >
    <div class="container ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            

            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">




            <div class="card-body p-4 p-md-5">
              
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <h4 class="  pb-md-3  "><strong>{{value}}</strong></h4>
                    <small>{{value.c_time}}  , {{value.ppl_existence.count}} / {{value.max_ppl_existence}}</small>
                </div>

  
                <div class="small mb-2"> İsteği Atan : {{value.creator}}
                </div>

                <div class="small mb-2"> Aktivite Çeşidi : {{value.game_type}}
                </div>
    
                <div class="small mb-2"> Buluşma Zamanı : {{value.m_time}}
                </div>
    
                    
                <div class="small mb-2"> Açıklama : {{value.description}}
                </div>
                    
                    
                <div class="small mb-2"> Giriş Fiyat Teklifi : {{value.entry_price}}
                </div>

                <input class=" btn btn-warning btn-sm md-5 "style="float:right" type="button" onclick="location.href='/activities/p/q/{{value.id}}/n';"  value="Lobiyi Reddet" />
                <input class=" btn btn-success btn-sm md-5 mr-3"style="float:right" type="button" onclick="location.href='/activities/p/q/{{value.id}}/y';"  value="Lobiyi Onayla" />
                <input class=" btn btn-info btn-sm md-5 mr-3"style="float:right" type="button" onclick="location.href='/activities/p/q/{{value.id}}';"  value="Lobiyi İncele" />   
    

            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="mb-5"></div>
</section>

{% endif %}
{% endif %}

{% endfor %}   
  


</div>{% endif %}







