{% extends "layout.html" %} {% load static %}{% block scripts %} {% endblock scripts %} 



{% block metas %}
{% endblock metas %}


{% block scriptico %}
{% endblock scriptico %}


{% block body1 %}



<main class="page-main" style="background-size: 300%;">


    <div class="uk-grid" data-uk-grid>


  
          
    <div class="uk-width-1-1@m uk-grid-margin uk-first-column" >

        
            


            


            <div  class="uk-width-1-1@m uk-grid-margin" >
                <div style="margin-bottom: 70px;" class="" >
                    <div style="scale: 120%;"><img src="/static/assets/img/logo3.png"></div>
                
            </div>
            </div>

    
        <ul class="uk-accordion widjet__body" uk-accordion>
            <li>
              <button class="uk-accordion-title uk-button uk-button-primary uk-width-1-1 creat-list-btn" type="button" style="margin-top: 0px;">Tanı, Nedir?</button>
                
              <div class="uk-accordion-content">


                <img style="margin-top: 10px;margin-bottom: 10px;" src="/static/assets/img/what2.png"  alt="whaat" />
                

                
                

                <p><a href="" style="font-family: 'candara', sans-serif; color: rgba(85, 13, 61, 0.6);">
                    Tanı, bir sosyalleşme uygulamasıdır. Tasarımcıların temel arzusu, insanların sanal ortamdan değil yüz yüze tanışmasını sağlamaktır.
                </a></p>
                <p><a href="" style="font-family: 'candara', sans-serif; color: rgba(85, 13, 61, 0.6);">
                    101,batak,monopoly,tabu gibi oyunları internetten ya da tanıdık çevreyle oynamak yerine, çevrenizde bulunan üniversite öğrencileriyle yüz yüze oynama alternatifini sunmaktadır.
                </a></p>



                <p><a href="" style="font-family: 'candara', sans-serif; color: rgba(85, 13, 61, 0.6);">
                    Sadece masa oyunları değil, kendi fikriniz olan aktiviteler için de tanışma odaları oluşturabilirsiniz.
                </a></p>
              
                <p><a href="" style="font-family: 'candara', sans-serif; color: rgba(85, 13, 61, 0.6);">
                    Tanışma planınızı 7-8 kişi olarak da 2 kişi olarak da ayarlayabilirsiniz. 
                </a></p>
                <p><a href="" style="font-family: 'candara', sans-serif; color: rgba(85, 13, 61, 0.6);">
                    Tabi bunun yerine spesifik bir konumda, rezervasyonsuz da tanışma hakkına sahipsiniz, size kalmış.
        
                </a></p>
                <p><a href="" style="font-family: 'candara', sans-serif; color: rgba(85, 13, 61, 0.6);">
                    Dilerseniz anlaşmalı olduğumuz mekanlardan birini, dilerseniz de spesifik bir noktayı buluşma noktası olarak düzenleyebilirsiniz.  <br> <br>
                </a></p>
    
              </div>
            </li>
          </ul>
    
        <ul class="uk-accordion widjet__body" uk-accordion>
            <li>
              <button class="uk-accordion-title uk-button uk-button-primary uk-width-1-1 creat-list-btn" type="button" style="margin-top: 0px;"> Canı Sıkılan Birisiyseniz</button>
                
              <div class="uk-accordion-content">

                <img src="/static/assets/img/consumers3.png"  alt="consumers" />


                <p>                        <a href="" style="font-family: 'candara', sans-serif; color: rgba(85, 13, 61, 0.6);">
                    Sistemde bulunan mekanlar içinde oyunlu masalar kiralayarak, üniversite okuyan
                    diğer insanlarla masa oyunu oynayabilirsiniz.
 
                    
                 </a></p>
                <p>                <a href="" style="font-family: 'candara', sans-serif; color: rgba(85, 13, 61, 0.6);">
                    Sistemde bulunan mekanlar içinde oyunsuz masalar kiralayarak, kendi etkinliğinizi
                    düzenleyebilirsiniz. Örneğin bir kitabı tartışabilirsiniz.
 
                    
                 </a></p>

                
                
                <p>                <a href="" style="font-family: 'candara', sans-serif; color: rgba(85, 13, 61, 0.6);">
                    Sistemde bulunan bölgeler içinde; kendi oyununuzu götürerek, kendi belirlediğiniz
                    bir noktada insanlarla buluşabilirsiniz. Ya da oyunsuz etkinlik düzenleyebilirsiniz.
                    
                 </a></p>
              
                <p>                <a href="" style="font-family: 'candara', sans-serif; color: rgba(85, 13, 61, 0.6);">
                    Kulüplerin ya da mekanların düzenlediği etkinliklere katılabilirsiniz
 
                    
                 </a></p>

    
              </div>
            </li>
          </ul>


          <ul class="uk-accordion widjet__body" uk-accordion>
            <li>
              <button class="uk-accordion-title uk-button uk-button-primary uk-width-1-1 creat-list-btn" type="button" style="margin-top: 0px;"> Etkinlik üreticisiyseniz</button>
                
              <div class="uk-accordion-content">




               

                <img  src="/static/assets/img/communities2.png"  alt="consumers" />
                
                <p>          <a href="" style="font-family: 'candara', sans-serif; color: rgba(85, 13, 61, 0.6);">
                    Etkinlik düzenlemek adına; mekanlarla direkt olarak iletişime geçebilir, mekanlara aktivitelerinizi önerebilir,
                    teklifinizin kabul edilmesi durumunda reklam yapmaya gerek kalmaksızın 
                    sistem üzerinden etkinliğinizi takip edebilirsiniz.
                </a> </p> 

    
              </div>
            </li>
          </ul>


          <ul class="uk-accordion widjet__body" uk-accordion>
            <li>
              <button class="uk-accordion-title uk-button uk-button-primary uk-width-1-1 creat-list-btn" type="button" style="margin-top: 0px;"> Mekan Sahibiyseniz</button>
                
              <div class="uk-accordion-content">

                <img  src="/static/assets/img/place1.jpg"  alt="consumers" />


                <p>                        <a href="" style="font-family: 'candara', sans-serif; color: rgba(85, 13, 61, 0.6);">
                    Masalarınızı sisteme açabilirsiniz, böylece insanlar sizin mekanınızda otomatikleştirilmiş rezervasyon sistemiyle
                    masa kiralayabilir.
 
                    
                 </a></p>
                <p>                <a href="" style="font-family: 'candara', sans-serif; color: rgba(85, 13, 61, 0.6);">
                    Kendi etkinliğinizi oluşturabilirsiniz. Öğrenci veritabanı sayesinde yüzlerce öğrenciyle
                    reklam gerekmeksizin etkileşimde olabilir, bilet satışlarınızı buradan gerçekleştirebilirsiniz.
 
                    
                 </a></p>

                
                
                <p>                <a href="" style="font-family: 'candara', sans-serif; color: rgba(85, 13, 61, 0.6);">
                    Masa dışı etkinlik alanlarınızı; gruplardan ya da kulüplerden gelen tekliflere
                    göre kiralayabilirsiniz. 
                    
                 </a></p>
              


    
              </div>
            </li>
          </ul>


          <div class="game-card__box">

            <img  src="/static/assets/img/reading.png"  alt="consumers" />
          </div>



          <ul class="uk-accordion widjet__body" uk-accordion>
            <li>
              <button class="uk-accordion-title uk-button uk-button-primary uk-width-1-1 creat-list-btn" type="button" style="margin-top: 0px;"> Örnek Etkinlikler </button>
                
              <div class="uk-accordion-content">
                <div class="js-popular">
                    <div class="swiper">
                        <div class="swiper-wrapper">
    
                            {%for activity in activities%}
                            
                            <div class="swiper-slide">
                                <div class="game-card">
                                    <div class="game-card__box" style="background-opacity: 1%;">
    
                                    
                                        <div class="game-card__media" style="min-height: 300px;"><img src="{{activity.activity_picture.url}}" alt="Solitary Crusade" /></a></div>
                                
    
                                        
                                        
                                        <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html"> {{activity.activity_name}}</a>
                                            <div class="game-card__genre"></div>
                                            <div class="game-card__rating-and-price">
                                                <div class="game-card__rating"><span>{{activity.activity_capacity}} Kişilik</span><i class="ico_star"></i></div>
                                                
                                            </div>
                                            <div class="game-card__bottom">
                                                
                                                <div class="game-card__users">
                                                    <ul class="users-list">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            {%endfor%}
                        </div>

                    </div>
                </div>

    
              </div>
            </li>
          </ul>




          <ul class="uk-accordion widjet__body" uk-accordion>
            <li>
              <button class="uk-accordion-title uk-button uk-button-primary uk-width-1-1 creat-list-btn" type="button" style="margin-top: 0px;"> Bazı Anlaşmalı Mekanlar </button>
                
              <div class="uk-accordion-content">
                <div class="js-popular">
                    <div class="swiper">
                        <div class="swiper-wrapper">
    
                            {%for placerone in placer%}
                        
                            <div class="swiper-slide">
                                <div class="game-card">
                                    <div class="game-card__box">
    
                                        {% if placerone.pic1 %}
                                        <div class="game-card__media" style="min-height: 300px;"><a href="/account/p/{{placerone.username}}"><img src="{{placerone.pic1.url}}" alt="Solitary Crusade" /></a></div>
                                        {% else %}
                                        <div class="game-card__media" style="min-height: 300px;"><a href="/account/p/{{placerone.username}}"><img src="{{placerone.area.pic1.url}}" alt="Solitary Crusade" /></a></div>
                                        {% endif %}
                                        
                                        
                                        <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html"> {{placerone}}</a>
                                            <div class="game-card__genre"></div>
                                            <div class="game-card__rating-and-price">
                                                <div class="game-card__rating"><span>{{placerone.ranking}}</span><i class="ico_star"></i></div>
                                                <div class="game-card__price"><span>{{placerone.min_price}} TL</span></div>
                                            </div>
                                            <div class="game-card__bottom">
                                                
                                                <div class="game-card__users">
                                                    <ul class="users-list">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>

                    </div>
                </div>

    
              </div>
            </li>
          </ul>



          
          <ul class="uk-accordion widjet__body" uk-accordion>
            <li>
              <button class="uk-accordion-title uk-button uk-button-primary uk-width-1-1 creat-list-btn" type="button" style="margin-top: 0px;"> Bazı Etkinlik düzenleyiciler </button>
                
              <div class="uk-accordion-content">
                <div class="js-popular">
                    <div class="swiper">
                        <div class="swiper-wrapper">
    
                            {%for communityone in community%}
                        
                            <div class="swiper-slide">
                                <div class="game-card">
                                    <div class="game-card__box">
    
                                        {% if placerone.pic1 %}
                                        <div class="game-card__media" style="min-height: 300px;"><a href="/account/co/{{communityone.username}}"><img src="{{communityone.pic1}}" alt="Solitary Crusade" /></a></div>
                                        {% else %}
                                        <div class="game-card__media" style="min-height: 300px;"><a href="/account/co/{{communityone.username}}"><img src="/static/assets/img/profile.png" alt="" /></a></div>
                                        {% endif %}
                                        
                                        
                                        <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html"> {{communityone.name}}</a>
                                            <div class="game-card__genre"></div>
                                            <div class="game-card__rating-and-price">
                                            </div>
                                            <div class="game-card__bottom">
                                                
                                                <div class="game-card__users">
                                                    <ul class="users-list">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>

                    </div>
                </div>

    
              </div>
            </li>
          </ul>








        











       
            <div class=" uk-accordion widjet__body">
                
                <button class="uk-accordion-title uk-button uk-button-primary uk-width-1-1 creat-list-btn" style="margin-top: 0px;" type="button" uk-toggle="target: +">Kullanım Videosu İçin Tıklayınız</button>
              
             
                <video src="https://yootheme.com/site/images/media/yootheme-pro.mp4" width="1920" height="1080" controls playsinline hidden uk-video></video> 
            
            </div>



            
    


    


</main>
{% endblock body1 %}


