{% extends "layout.html" %}{% block scripts%} {% endblock scripts%} {% block body1 %}{% load crispy_forms_tags %}








  <section class="h-200 h-300" >


    <div class="container py-5 h-100 pt-5 mt-5 mb-5 pb-5 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 ">Masa Oyunu Oluşturma</h3>

              

                <form method="post" class=" mb-5 ">
                  {% load crispy_forms_tags %}
                  {% csrf_token %}


                            <ul class="list-unstyled ps-0">
                              <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                                  Lobi Başlığı
                                </button>
                                <div class="collapse" id="home-collapse" style="">
                                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><div>{{ prrform.name }}</div></li>

                                  </ul>
                                </div>
                              </li>
                            </ul>


                              <ul class="list-unstyled ps-0">
                                <li class="mb-1">
                                  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                                    Aktivite Açıklaması
                                  </button>
                                  <div class="collapse" id="home-collapse" style="">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                      <li><div>{{ prrform.description }}</div></li>
  
                                    </ul>
                                  </div>
                                </li>
                              </ul>


                              <ul class="list-unstyled ps-0">
                                <li class="mb-1">
                                  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                                    Kaç Kişi Gelebilir?
                                  </button>
                                  <div class="collapse" id="home-collapse" style="">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                      <li><div>{{ prrform.max_ppl_existence }}</div></li>
  
                                    </ul>
                                  </div>
                                </li>
                              </ul>

                            <button type="submit" class="btn btn-success btn-sm mb-1 mt-5">Lobi Oluştur</button>
                            
                </form>
                
                
  
              
  
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class=" text-center mt-5 mb-3 text-muted ">© 2022–2023</p>
    <div class="mb-5"></div>
    
  
  
  
  </section>
  

{% endblock body1 %}